/* 
***
* Styles
***
*
* Utilities
* Color mode
* Header
* Work
* About
*
*/

/* 
*
* Utilities
*
*/

body {
    margin: 0;
    font-family: 'Inter';
    background-color: #00C3B7;
}

button {
    border: none;
    background: none;
}

h1, h2, h3, p, a {
    text-decoration: none;
    margin: 0;
    color: inherit;
}

.hidden {
    display: none;
}

.pattern-dots {
    background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: calc(10 * .5px) calc(10 * .5px);
    height: 100%;
}

.highlight {
    border-bottom: 1px solid #00C3B7;
}

/* 
*
* Color mode
*
*/

.dark {
    background-color: #15181A;
}

.light {
    background-color: #F1ECE2;
}

.body-dark {
    color: #F1ECE2;
    border-color: #F1ECE2;
}

.body-light {
    color: #15181A;
    border-color: #15181A;
}

/* 
*
* Navigation
*
*/

#navigation {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 80%;
    padding: 3vh 10% 3vh 10%;
    border-bottom: solid 1px rgba(128, 128, 128, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.nav-btn {
    margin-right: 24px;
    padding: 3px;
    font-weight: 300;
    cursor: pointer;
    transition: border 250ms;
}

.nav-dark {
    background-color: #15181a85;
    color: #F1ECE2;
}

.nav-light {
    background-color: #F1ECE285;
    color: #15181A;
}

.nav-btn:hover {
    border-top: 1px solid;
}

.nav-active {
    font-weight: 700;
}

#logo {
    height: 50px;
    width: 50px;
    opacity: 50%;
    transition: opacity 250ms ease-in-out;
}

#logo:hover {
    opacity: 100%;
}

#work-btn {
    margin-left: auto;    
}

#color-mode {
    cursor: alias;
    opacity: 70%;
    padding: 6px;
    border-radius: 6px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transition: opacity 250ms ease-in-out;
}

#color-mode:hover {
    opacity: 100%;
}

/* 
*
* Header
*
*/

header {
    height: 100vh;
}

#intro {
    position: absolute;
    margin: 10%;
    bottom: 0;
    left: 0;
    max-width: 700px;
}

#title {
    font-family: 'Roboto Slab', serif;
    font-size: 7vh;
    font-weight: 500;
}

@media only screen and (min-width: 768px) {
    #resp-title {
        display: none;
    }
}

#social {
    display: flex;
    align-items: center;
    margin: 3vh 0 3vh 0;
}

#social a {
    padding-right: 10px;
    opacity: 70%;
    transition: 250ms ease-in-out;
}

#social a:hover {
    opacity: 100%;
}

#description {
    font-size: 3vh;
    font-weight: 200;
}

/*
*
* Illustration
*
*/

#illu {
    display: none;
}

@media only screen and (min-width: 768px) {
    #illu {
        display: block;
        height: 100vh;
        width: 40vw;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

@keyframes spin3D-1 {
    from {
      transform: rotate3d(.5,.5,.5, 360deg);
    }
    to{
      transform: rotate3d(0deg);
    }
}

.spinner-1 {
    position: absolute;
    right: 10%;
    top: 30%;
    width: 50vh;
	height: 50vh;
    border: 1px solid gray;
    border-radius: 100%;
    animation: spin3D-1 20s linear 1s infinite;
    -webkit-animation: spin3D-1 20s linear 1s infinite;
}

@keyframes spin3D-2 {
    from {
      transform: rotate3d(.5,1,0, 360deg);
    }
    to{
      transform: rotate3d(0deg);
    }
}

.spinner-2 {
    position: absolute;
    right: 17%;
    top: 35%;
    width: 40vh;
	height: 40vh;
    border: 1px dashed gray;
    border-radius: 100%;
    animation: spin3D-1 15s linear 1s infinite;
    -webkit-animation: spin3D-1 15s linear 1s infinite;
}

@keyframes spin3D-3 {
    from {
      transform: rotate3d(.8,.1,.5, 360deg);
    }
    to{
      transform: rotate3d(0deg);
    }
}

.spinner-3 {
    position: absolute;
    right: 24%;
    top: 40%;
    width: 30vh;
	height: 30vh;
    border: 1px solid gray;
    border-radius: 100%;
    animation: spin3D-2 10s linear 1s infinite;
    -webkit-animation: spin3D-2 10s linear 1s infinite;
}

/* 
*
* Work
*
*/

#work {
    padding: 30% 10% 6% 10%;
    display: block;
}

@media only screen and (min-width: 768px) {
    #work {
        padding: 8% 10% 6% 10%;
        display: grid;
        grid-gap: 1vw;
        grid-auto-columns: 1fr 1fr 1fr;
        grid-template-areas: "p1 p2 p2"
                             "p3 p3 p4"
                             "p5 p6 p7"
                             "p8 p9 p9";
    }
}

.project-bloc {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 6px;
    height: 50vh;
    margin-bottom: 4vw;
    opacity: 75%;
    transition: opacity 250ms ease-in-out;
}

.project-bloc:hover {
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .project-bloc {
        display: block;
        height: 20vw;
        margin-bottom: 0;
    }
}

.project-bloc a {
    position: absolute;
    margin: -24px;
    height: 100%;
    width: 100%;
    border-radius: 6px;
}


.project-title {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
}

.project-desc {
    font-weight: 300;
}

#p1 {
    grid-area: p1;
    background-image: url(./assets/wave.jpg);
    background-size: cover;
    color: #15181a;
}

#p2 {
    grid-area: p2;
    background: #1765FB;
    background: -webkit-radial-gradient(top left, #1765FB, #4B4347);
    background: -moz-radial-gradient(top left, #1765FB, #4B4347);
    background: radial-gradient(to bottom right, #1765FB, #4B4347);
    color: #F1ECE2;
}

#p3 {
    grid-area: p3;
    border: solid 1px gray;
    color: inherit;
}

#p4 {
    grid-area: p4;
    background-image: url(./assets/surfbuddy.png);
    background-size: cover;
    color: #15181a;
}

#p5 {
    grid-area: p5;
    background: #4A8AF6;
    background: -webkit-radial-gradient(top left, #4A8AF6, #3FF6B6);
    background: -moz-radial-gradient(top left, #4A8AF6, #3FF6B6);
    background: radial-gradient(to bottom right, #4A8AF6, #3FF6B6);
    color: inherit;
}

#p6 {
    grid-area: p6;
    background: #D0116B;
    background: -webkit-radial-gradient(top left, #D0116B, #382D1B);
    background: -moz-radial-gradient(top left, #D0116B, #382D1B);
    background: radial-gradient(to bottom right, #D0116B, #382D1B);
    color: #F1ECE2;
}

#p7 {
    grid-area: p7;
    background: #0A2808;
    background: -webkit-radial-gradient(top left, #0A2808, #4B38A3);
    background: -moz-radial-gradient(top left, #0A2808, #4B38A3);
    background: radial-gradient(to bottom right, #0A2808, #4B38A3);
    color: #F1ECE2;
}

#p8 {
    grid-area: p8;
    border: solid 1px gray;
    color: inherit;
}

#p9 {
    grid-area: p9;
    background: #F3A161;
    background: -webkit-radial-gradient(top left, #F3A161, #BC2896);
    background: -moz-radial-gradient(top left, #F3A161, #BC2896);
    background: radial-gradient(to bottom right, #F3A161, #BC2896);
    color: #15181A;
}

/* 
*
* About
*
*/

#about {
    padding: 8% 10% 6% 10%;
}

@media only screen and (min-width: 768px) {
    #about {
        padding: 10% 20% 6% 20%;
    }
}

.about-title {
    margin: 64px 0 24px 0;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: -.02rem;
    font-style: italic;
}

.about-desc {
    margin-bottom: 32px;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    border-left: solid 1px rgba(128, 128, 128, 0.6);
    margin-left: 0.5vw;
    padding-left: 2vw;
}

.xp-bloc {
    margin: auto;
    margin-bottom: 16px;
    width: 100%;
}

.xp-line {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    transition: border 250ms ease-in-out;
    cursor: pointer;
}

.xp-dark {
    border-bottom: solid 1px #f1ece24b;
}

.xp-light {
    border-bottom: solid 1px #15181a54;
}

.xp-dark:hover {
    border-bottom: solid 1px #f1ece2;
}

.xp-light:hover {
    border-bottom: solid 1px #15181a;
}

.xp-date {
    font-size: 0.6rem;
    font-weight: 200;
    margin-right: 12px;
    text-align: right;
}

.xp-title {
    font-size: 1rem;
    font-weight: 600;
}

.xp-logo {
    margin-left: auto;
    height: 32px;
    width: 32px;
}

.xp-location {
    margin-left: auto;
    font-weight: 200;
    font-style: italic;
    text-align: right;
}

.xp-desc {
    display: none;
    margin: 8px 0 20px 0;
    font-size: 0.8rem;
    font-weight: 300;
}

/* 
*
* Quote
*
*/

#quote {
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    font-style: italic;
}

/* 
*
* Footer
*
*/

footer {
    padding: 8% 25% 6% 25%;
}

#secret {
    display: block;
}

footer iframe {
    margin: 10% 50%;
    height: 200px;
}

footer div {
    text-align: center;
    font-weight: 200;
    font-size: 0.8rem;
    opacity: 0.8;
}

#music {
    cursor: pointer;
    color: coral;
    opacity: 0.7;
    transition: opacity 250ms ease-in-out;
}

#music:hover {
    opacity: 1;
}