/* Style variables */

:root {
    --color-light: hsl(35, 45%, 83%);
    --color-dark: hsl(198, 82%, 9%);
    --color-primary: hsl(175, 43%, 47%);
    --color-secondary: hsl(175, 39%, 25%);
    --color-link: hsl(10, 84%, 76%);

    --bg-color: var(--color-dark);
    --text-color: var(--color-light);
}

/* Fonts */

@font-face {
    font-family: "Fixel";
    src: url("./assets/fonts/FixelVariable.ttf") format("truetype");
}

/* Reset styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: currentColor;
    text-decoration: inherit;
}

/* Utilities */

a[disabled] {
    pointer-events: none;
    opacity: .4;
}

/* General styles */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Fixel", sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-size: 1.2rem;
}

/* Navigation */

nav {
    position: fixed;
    top: 0;
    z-index: 999;
}

#nav-backdrop {
    position: fixed;
    top: 0;
    height: 20vh;
    width: 100vw;
    background-image: linear-gradient(180deg, var(--bg-color), transparent);
    /* backdrop-filter: blur(8px);
    -webkit-mask: linear-gradient(0deg, transparent, var(--bg-color) 90%); */
    pointer-events: none;
    z-index: 990;
}

#back-to-top {
    position: fixed;
    top: clamp(32px, 5vw, 64px);
    left: clamp(32px, 5vw, 64px);
}

#logo {
    fill: transparent;
    stroke: var(--text-color);
    stroke-width: 1;
    cursor: pointer;
    transition: all .25s ease-in-out;
    margin: -2.5px;
}

nav input {
    display: none;
}

#nav-container {
    position: fixed;
    top: clamp(32px, 5vw, 64px);
    right: clamp(32px, 5vw, 64px);
    height: 32px;
    width: 32px;
    cursor: pointer;
    user-select: none;
    z-index: 998;
    transition: all .5s ease-out;
}


#nav-icon {
    transition: all .3s ease-out;
}

#nav-icon:active {
    transform: scale(.6);
}

#nav-icon>path {
    fill: var(--text-color);
    transition: all .25s ease-out;
}

#nav-container:hover #nav-icon>path {
    d: path('M0 0 L32 0 L32 32 L0 32 Z');
}

#nav-checkbox:checked+#nav-container #nav-icon {
    transform: rotate(135deg);
}

#nav-checkbox:checked+#nav-container #nav-icon:active {
    transform: scale(.6);
}

#nav-checkbox:checked+#nav-container #nav-icon>path {
    d: path('M0 0 L32 0 L32 32 L0 32 Z');
}


#nav-checkbox:checked~#nav-list {
    display: flex;
    right: 0;
    opacity: 1;
    /* box-shadow: rgba(100, 100, 100, 0.1) 0px 7px 32px 24px; */
}

#nav-list {
    position: fixed;
    height: 100dvh;
    right: -600px;
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-color);
    z-index: 997;
    opacity: 0;
    transition: all .5s ease-out;
}

#nav-list li {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    padding: 64px;
    justify-content: space-around;
    gap: 32px;
    transition: all .25s ease-in-out;
}

#nav-list li:not(:last-child) {
    border-bottom: solid 1px var(--color-light);
}

@media only screen and (min-width: 768px) {
    #nav-list {
        position: fixed;
        top: clamp(32px, 5vw, 64px);
        height: auto;
        padding: 0;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
        font-size: 24px;
    }

    #nav-list li {
        width: auto;
        display: flex;
        height: auto;
        padding: 0;
        border-bottom: none;
        transition: all .25s ease-in-out;
    }

    #nav-list li:not(:last-child) {
        border-bottom: none;
    }

    #nav-checkbox:checked~#nav-list {
        display: flex;
        right: 180px;
        opacity: 1;
        /* box-shadow: rgba(100, 100, 100, 0.1) 0px 7px 32px 24px; */
    }
}

#nav-list a {
    width: 100%;
}

/* Header */

header {
    height: 100dvh;
    padding: clamp(32px, 5vw, 64px);
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-between;
    overflow: hidden;
}

#headline {
    font-size: clamp(24px, 8vw, 32px);
    font-weight: 300;
    max-width: 50ch;
    line-height: 1.5;
    /* pointer-events: none; */
}

.script {
    font-weight: 300;
    font-size: clamp(32px, 8vw, 42px);
    font-family: 'La Belle Aurore';
    line-height: 0;
}

.highlight:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    /* border: solid 1px var(--text-color); */
}

#status {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: clamp(14px, 6vw, 18px);
    font-weight: 200;
}

.dot {
    height: 8px;
    aspect-ratio: 1;
    background-color: orange;
    border-radius: 100%;
    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    50% {
        opacity: 0.6;
    }
}

/* Main */

main {
    /* display: none; */
}

.cell {
    min-height: 26rem;
    border: solid 1px var(--text-color);
    padding: 64px;
    margin-top: -1px;
    margin-left: -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tag {
    font-size: 16px;
    padding: 4px 8px;
    border: solid 1px var(--text-color);
    border-radius: 100px;
}

/* Introduction */

#introduction {
    padding: clamp(32px, 5vw, 64px);
}

#intro-1 {
    justify-content: end;
    font-size: clamp(24px, 6vw, 32px);
    font-weight: 200;
}

@media only screen and (min-width:768px) {
    #introduction {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    #intro-1 {
        grid-column: 1 / 3;
    }
}

#intro-2 {
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-3 {
    grid-column: 1 / 4;
    border-bottom-right-radius: 240px;
    align-items: end;
}

.intro-tag-container {
    height: 100%;
    transform: rotate(18deg);
}

.intro-tag {
    width: 1000px;
    height: 25%;
    padding: 32px 0;
    font-size: 24px;
    font-weight: 300;
    border: solid 1px var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    transition: all ease-in-out 250ms;
}

.intro-tag:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.project-content {
    width: 100%;
}

.project-title {
    font-family: "Abyssinica SIL", serif;
    font-size: 48px;
}

.project-desc {
    font-size: 24px;
}