/* 
*
* Styles
*
*/

:root {
    --dark-theme: rgb(21, 24, 26);
    --light-theme: rgb(241, 236, 226);
    --primary-color: rgb(0, 195, 183);
}

/* 
*
* Fonts
*
*/

@font-face {
    font-family: 'lackitalic';
    src: url('./assets/fonts/lack-italic-webfont.woff2') format('woff2'),
         url('./assets/fonts/lack-italic-webfont.woff') format('woff'),
         url('./assets/fonts/lack-italic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lack_lineitalic';
    src: url('./assets/fonts/lack-line-italic-webfont.woff2') format('woff2'),
         url('./assets/fonts/lack-line-italic-webfont.woff') format('woff'),
         url('./assets/fonts/lack-line-italic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lack_lineregular';
    src: url('./assets/fonts/lack-line-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/lack-line-regular-webfont.woff') format('woff'),
         url('./assets/fonts/lack-line-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lackregular';
    src: url('./assets/fonts/lackregular.woff2') format('woff2'),
         url('./assets/fonts/lackregular.woff') format('woff'),
         url('./assets/fonts/lackregular.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* 
*
* Utilities
*
*/

body {
    margin: 0;
    font-family: 'Inter', Sans-Serif;
    background-color: var(--primary-color);
}

button {
    border: none;
    background: none;
}

h1, h2, h3, h4, h5, h6, p, a {
    text-decoration: none;
    margin: 0;
    color: inherit;
    font-weight: normal;
}

.hidden {
    display: none;
}

.highlight {
    /*border-bottom: 1px solid #00C3B7;*/
    padding: 0 2px;
    background-image: linear-gradient(transparent 60%, #00e9d980 60%, #00e9d980 100%, transparent 100%);
}

.link {
    color: hotpink;
    text-decoration: underline;
}

/* 
*
* Global Responsive display
*
*/

@media screen and (max-width: 800px) {
    .map {
        display: none;
    }
}

/* 
*
* Color mode
*
*/

.dark {
    background-color: var(--dark-theme);
}

.light {
    background-color: var(--light-theme);
}

.body-dark {
    color: var(--light-theme);
    border-color: var(--light-theme);
}

.body-light {
    color: var(--dark-theme);
    border-color: var(--dark-theme);
}

/* 
*
* Navigation
*
*/

#navigation {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 80%;
    padding: 3vh 10% 3vh 10%;
    border-bottom: solid 1px rgba(128, 128, 128, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
}

.nav-btn {
    margin-right: 24px;
    padding: 3px;
    font-weight: 300;
    cursor: pointer;
    transition: border 250ms;
}

.nav-dark {
    background-color: #15181a85;
    color: var(--light-theme);
}

.nav-light {
    background-color: #F1ECE285;
    color: var(--dark-theme);
}

.nav-btn:hover {
    border-top: 2px solid;
}

#logo {
    height: 50px;
    width: 50px;
    opacity: .5;
    transition: opacity 250ms ease-in-out;
}

#logo:hover {
    opacity: 1;
}

#work-btn {
    margin-left: auto;    
}

#color-mode {
    cursor: alias;
    opacity: .7;
    padding: 6px;
    border-radius: 6px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transition: opacity 250ms ease-in-out;
}

#color-mode:hover {
    opacity: 1;
}

/* 
*
* Header
*
*/

header {
    height: 100vh;
}

#intro {
    position: absolute;
    margin: 10%;
    bottom: 0;
    left: 0;
    max-width: 700px;
}

#title {
    font-family: 'lackregular';
    font-size: 8vh;
    font-weight: 500;
}

#intro__social {
    display: flex;
    align-items: center;
    margin: 3vh 0;
}

#intro__social a {
    padding-right: 10px;
    opacity: .7;
    transition: 250ms ease-in-out;
}

#intro__social a:hover {
    opacity: 1;
}

#description {
    margin-top: 2rem;
    font-size: 3vh;
    font-weight: 200;
}

/*
*
* Illustration
*
*/

#illu {
    display: none;
}

@media only screen and (min-width: 768px) {
    #illu {
        display: block;
        height: 100vh;
        width: 40vw;
        position: absolute;
        right: 0;
        bottom: 0;
        opacity: .5;
    }
}

@keyframes spin3D-1 {
    from {
      transform: rotate3d(.5,.5,.5, 360deg);
    }
    to{
      transform: rotate3d(0deg);
    }
}

.spinner-1 {
    position: absolute;
    right: 10%;
    top: 30%;
    width: 50vh;
	height: 50vh;
    border: 1.2px solid gray;
    border-radius: 100%;
    animation: spin3D-1 20s linear 1s infinite;
    -webkit-animation: spin3D-1 40s linear 1s infinite;
}

@keyframes spin3D-2 {
    from {
      transform: rotate3d(.5,1,0, 360deg);
    }
    to{
      transform: rotate3d(0deg);
    }
}

.spinner-2 {
    position: absolute;
    right: 17%;
    top: 35%;
    width: 40vh;
	height: 40vh;
    border: 1.2px dashed gray;
    border-radius: 100%;
    animation: spin3D-1 15s linear 1s infinite;
    -webkit-animation: spin3D-2 30s linear 1s infinite;
}

@keyframes spin3D-3 {
    from {
      transform: rotate3d(.8,.1,.5, 360deg);
    }
    to{
      transform: rotate3d(0deg);
    }
}

.spinner-3 {
    position: absolute;
    right: 24%;
    top: 40%;
    width: 30vh;
	height: 30vh;
    border: 1.2px solid gray;
    border-radius: 100%;
    animation: spin3D-2 10s linear 1s infinite;
    -webkit-animation: spin3D-3 20s linear 1s infinite;
}

/* 
*
* Work
*
*/

#work {
    padding: 30% 10% 6% 10%;
    display: block;
}

@media only screen and (min-width: 768px) {
    #work {
        padding: 8% 10% 6% 10%;
        display: grid;
        grid-gap: 2.5vw;
        grid-auto-columns: 1fr 1fr 1fr;
        grid-template-areas: "p-intro p-surf p-surf"
                             "p-popin p-popin p-lifecal"
                             "p-nasa p-sign p-sign"
    }
}

.project-bloc {
    position: relative;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 12px;
    height: 40vh !important;
    transition: .5s ease-in-out;
}

.project-bloc:hover {
    box-shadow: inset 0 0 0 6px var(--primary-color);
}

@media only screen and (min-width: 768px) {
    .project-bloc {
        display: block;
        height: 20vw;
        margin-bottom: 0;
    }
}

.project-bloc a {
    position: absolute;
    margin: -24px;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    z-index: 3;
}

.project-title {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: .5rem;
}

.project-desc {
    font-weight: 200;
    margin-bottom: .8rem;
}

.project-tag {
    display:inline;
    font-family: monospace;
    padding: 4px 8px;
    font-size: 1rem;
    color: var(--light-theme);
    background-color: rgba(21, 24, 26, .3);
    border-radius: 4px;
}

#p-intro {
    grid-area: p-intro;
    opacity: 1;
    border: solid 1px gray;
    color: inherit;
}

#p-popin {
    grid-area: p-popin;
    background-color: #48618b;
    background-image: linear-gradient(315deg, #48618b 0%, #6782b4 74%);
    color: #15181a;
}

#p-lifecal {
    grid-area: p-lifecal;
    background-color: #bd4f6c;
    background-image: linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);
    color: #15181a;
}

#p-surf {
    grid-area: p-surf;
    background-image: url(./assets/surfbuddy.jpg);
    background-size: cover;
    background-position: center;
    color: #15181a;
}

#p-nasa {
    grid-area: p-nasa;
    background-image: url(https://cdn.dribbble.com/users/4828409/screenshots/11207783/media/47270a20d739f96ff04a2277e0dfc5e4.png?compress=1&resize=1600x1200);
    background-size: cover;
    color: #F1ECE2;
}

#p-sign {
    grid-area: p-sign;
    background-image: url(https://cdn.dribbble.com/users/4828409/screenshots/11340870/media/a2faba815880d9d0adb9c7cebec3cc79.png?compress=1&resize=1600x1200);
    background-size: cover;
    background-position: center;
    color: #F1ECE2;
}

/* 
*
* About
*
*/

#about {
    padding: 8% 10% 6% 10%;
}

@media only screen and (min-width: 768px) {
    #about {
        padding: 10% 20% 6% 20%;
    }
}

#about-me {
    display: block;
}

@media only screen and (min-width: 1200px) {
    #about-me {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#picture {
    margin-left: 5vw;
    width: 250px;
    border-radius: 100%;
}

.about-title {
    font-family: 'lack_lineregular';
    margin: 128px 0 32px 0;
    font-weight: 600;
    font-size: 4.2rem;
}

.about-desc {
    margin-bottom: 32px;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.5rem;
    border-left: solid 1px rgba(128, 128, 128, 0.6);
    margin-left: 0.5vw;
    padding-left: 2vw;
}

.xp-bloc {
    margin: auto;
    margin-bottom: 16px;
    width: 100%;
    border-bottom: solid 1px rgba(128, 128, 128, 0.3);
    transition: border 250ms ease-in-out;
}

.xp-bloc:hover {
    border-bottom: solid 1px gray;
}

.xp-line {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    transition: border 250ms ease-in-out;
    cursor: pointer;
}

.xp-date {
    font-family: monospace;
    font-size: 0.8rem;
    font-weight: 300;
    margin-right: 12px;
    text-align: right;
    color: var(--primary-color);
}

.xp-title {
    font-size: 1.4rem;
    font-weight: 500;
}

.xp-logo {
    margin-left: auto;
    height: 32px;
    width: 32px;
}

.xp-location {
    margin-left: auto;
    font-weight: 200;
    font-style: italic;
    text-align: right;
}

.xp-desc {
    display: none;
    margin: 8px 0 20px 0;
    font-size: 0.8rem;
    font-weight: 300;
}

/* 
*
* World Map
*
*/

#map {
    width: 100%;
    margin-top: 6rem;
    fill: #F1ECE2;
}

#map_location {
    font-family: monospace;
    color: gray;
    text-align: right;
}

/* 
*
* Project page WIP
*
*/

#project {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
}

/*
*
* Footer
*
*/

footer {
    padding: 8% 25% 6% 25%;
}

#footer__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5vh 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 200;
}

#footer__social a {
    padding: 0 12px;
    opacity: .6;
    transition: opacity 250ms ease-in-out;
}

#footer__social a:hover {
    opacity: 1;
}

footer iframe {
    margin: 10% 50%;
    height: 200px;
}

footer div {
    text-align: center;
    font-weight: 200;
    font-size: 0.8rem;
    opacity: 0.8;
}

#jukebox {
    display: none;
    padding: 20px 0;
}

#jukebox iframe {
    margin: auto;
    width: 30vh;
    height: 30vh;
}

#music {
    cursor: pointer;
    color: coral;
    opacity: 0.7;
    transition: opacity 250ms ease-in-out;
}

#music:hover {
    opacity: 1;
}

/*
*
* Unknown
*
*/

#secret {
    height: 100vh;
    color: #F1ECE2;
    background-color: #15181a;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

#interrogation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: help;
    font-size: 12rem;
    font-weight: 600;
    background-color: #15181a;
    transition: transform 2s ease-in-out 4s;
    z-index: 1;
}

#interrogation:hover {
    transform: translateX(20%)
}

#launch {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px #00C3B7;
    color: #00C3B7;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

#launch:hover {
    background-color: #00C3B7;
    color: #15181a;
}