/* 
***
* Styles
***
* Utilities
* Color mode
* Header
* Work
* About
*
*/

/* 
*
* Utilities
*
*/


body {
    margin: 0;
    font-family: 'Inter';
    background-color: #00C3B7;
}

button {
    border: none;
    background: none;
}

h1, h2, h3, p, a {
    text-decoration: none;
    color: inherit;
}

.hidden {
    display: none;
}

.pattern-dots {
    background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: calc(10 * .5px) calc(10 * .5px);
    height: 100%;
}

.highlight {
    border-bottom: 1px solid #00C3B7;
}

/* 
*
* Color mode
*
*/

.dark {
    background-color: #15181A;
}

.light {
    background-color: #F1ECE2;
}

.body-dark {
    color: #F1ECE2;
    border-color: #F1ECE2;
}

.body-light {
    color: #15181A;
    border-color: #15181A;
}

/* 
*
* Navigation
*
*/

#navigation {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 80%;
    padding: 3vh 10% 3vh 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.nav-btn {
    margin-right: 24px;
    padding: 3px;
    font-weight: 300;
    cursor: pointer;
    transition: border 250ms;
}

.nav-dark {
    background-color: #15181a85;
    color: #F1ECE2;
}

.nav-light {
    background-color: #F1ECE285;
    color: #15181A;
}

.nav-btn:hover {
    border-top: 1px solid;
}

.nav-active {
    font-weight: 700;
}

#logo {
    height: 50px;
    width: 50px;
    opacity: 50%;
    transition: opacity 250ms ease-in-out;
}

#logo:hover {
    opacity: 100%;
}

#home-btn {
    margin-left: auto;
}

#color-mode {
    cursor: alias;
    opacity: 70%;
    padding: 6px;
    border-radius: 6px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transition: opacity 250ms ease-in-out;
}

#color-mode:hover {
    opacity: 100%;
}

/* 
*
* Header
*
*/

header {
    height: 100vh;
}

#intro {
    position: absolute;
    margin: 10%;
    bottom: 0;
    left: 0;
    max-width: 700px;
}

#title {
    font-family: 'Roboto Slab', serif;
    font-size: 7vh;
    font-weight: 500;
}

@media only screen and (min-width: 768px) {
    #resp-title {
        display: none;
    }
}

#social {
    display: flex;
    align-items: center;
    margin: 3vh 0 3vh 0;
}

#social a {
    padding-right: 10px;
    opacity: 70%;
    transition: 250ms ease-in-out;
}

#social a:hover {
    opacity: 100%;
}

#description {
    font-size: 3vh;
    font-weight: 200;
}

#illu {
    height: 80vh;
    width: 40vw;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* 
*
* Work
*
*/

#work {
    padding: 30% 10% 6% 10%;
    display: block;
}

@media only screen and (min-width: 768px) {
    #work {
        padding: 8% 10% 6% 10%;
        display: grid;
        grid-gap: 1vw;
        grid-auto-columns: 1fr 1fr 1fr;
        grid-template-areas: "p1 p2 p2"
                             "p3 p3 p4"
                             "p5 p6 p7"
                             "p8 p9 p9";
    }
}

.project-bloc {
    padding: 24px;
    border-radius: 6px;
    height: 50vh;
    margin-bottom: 4vw;
    background-color: #303538;
}

@media only screen and (min-width: 768px) {
    .project-bloc {
        display: block;
        height: 20vw;
        margin-bottom: 0;
    }
}

.project-title {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
}

.project-desc {
    font-weight: 300;
}

#p1 {
    grid-area: p1;
    color: inherit;
}

#p2 {
    grid-area: p2;
    color: inherit;
}

#p3 {
    grid-area: p3;
    color: inherit;
}

#p4 {
    grid-area: p4;
    color: inherit;
}

#p5 {
    grid-area: p5;
    color: inherit;
}

#p6 {
    grid-area: p6;
    background: #D0116B;
    background: -webkit-radial-gradient(top left, #D0116B, #382D1B);
    background: -moz-radial-gradient(top left, #D0116B, #382D1B);
    background: radial-gradient(to bottom right, #D0116B, #382D1B);
    color: #F1ECE2;
}

#p7 {
    grid-area: p7;
    background: #1765FB;
    background: -webkit-radial-gradient(top left, #1765FB, #4B4347);
    background: -moz-radial-gradient(top left, #1765FB, #4B4347);
    background: radial-gradient(to bottom right, #1765FB, #4B4347);
    color: #F1ECE2;
}

#p8 {
    grid-area: p8;
    background: #0A2808;
    background: -webkit-radial-gradient(top left, #0A2808, #4B38A3);
    background: -moz-radial-gradient(top left, #0A2808, #4B38A3);
    background: radial-gradient(to bottom right, #0A2808, #4B38A3);
    color: #F1ECE2;
}

#p9 {
    grid-area: p9;
    background: #F3A161;
    background: -webkit-radial-gradient(top left, #F3A161, #BC2896);
    background: -moz-radial-gradient(top left, #F3A161, #BC2896);
    background: radial-gradient(to bottom right, #F3A161, #BC2896);
    color: #15181A;
}

/* 
*
* ABOUT
*
*/

#about {
    padding: 8% 10% 6% 10%;
}

@media only screen and (min-width: 768px) {
    #about {
        padding: 8% 20% 6% 20%;
    }
}

#about-me {
    display: flex;
}

#about-desc {
    margin-bottom: 10%;
    font-size: 1.2rem;
    font-weight: 200;
}

.about-title {
    margin: 64px 0 24px 0;
    font-weight: 600;
    font-size: 2rem;
    font-style: italic;
}

.xp-bloc {
    margin: auto;
    margin-bottom: 16px;
    width: 100%;
}

.xp-line {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    transition: border 250ms ease-in-out;
    cursor: pointer;
}

.xp-dark {
    border-bottom: solid 1px #f1ece24b;
}

.xp-light {
    border-bottom: solid 1px #15181a54;
}

.xp-dark:hover {
    border-bottom: solid 1px #f1ece2;
}

.xp-light:hover {
    border-bottom: solid 1px #15181a;
}

.xp-date {
    font-size: 0.6rem;
    font-weight: 200;
    margin-right: 12px;
    text-align: right;
}

.xp-title {
    font-size: 1rem;
    font-weight: 600;
}

.xp-logo {
    margin-left: auto;
    height: 32px;
    width: 32px;
}

.xp-loc {
    margin-left: auto;
    font-weight: 200;
    font-style: italic;
    text-align: right;
}

.xp-desc {
    display: none;
    margin: 8px 0 20px 0;
    font-size: 0.8rem;
    font-weight: 300;
}

.xp-desc:hover {
    display: block;
}