/* ###################################
Inspired by https://codepen.io/Milleus/pen/pozRbKa?editors=1100

Map

##################################### */

:root {
    --dark-theme: rgb(21, 24, 26);
    --light-theme: rgb(241, 236, 226);
    --primary-color: rgb(0, 195, 183);
    --primary-color-op: rgba(0, 195, 183, 0.25);
    --dot-color: rgba(241, 236, 226, .5);
}

body {
    margin: 0;
    display: grid;
    height: 100vh;
    place-items: center;
    background-color: var(--dark-theme);
}

.world_map {
    display: grid;
    grid-template-columns: repeat(55, 1fr);
    grid-template-rows: repeat(35, 1fr);
}

.cell {
    margin: 4px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
}

/* ###################################

Cities

Paris (743 - line 748)

##################################### */

.paris {
    position: relative;
    animation: pulse 1500ms infinite;
}

.paris::before {
    content: attr(tooltip);
    display: inline-block;
    position: absolute;
    bottom: 50%;
    width: 127px;
    background: var(--light-theme);
    box-shadow: 3px 3px 5px 6px rgba(29, 29, 29, .5);
    color: var(--dark-theme);
    padding: 6px 10px;
    border-radius: 5px;
    opacity:0;
    transition:0.3s;
    overflow:hidden;
}

.paris:hover::before {
    opacity:1;
    bottom: 100%;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 var(--primary-color);
	}

	90% {
		box-shadow: 0 0 0 8px var(--primary-color-op);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0,0,0,0);
	}
}

/* ###################################

North America

##################################### */

.cell:nth-child(19) {
    background-color: var(--dot-color);
}

.cell:nth-child(20) {
    background-color: var(--dot-color);
}

.cell:nth-child(21) {
    background-color: var(--dot-color);
}

.cell:nth-child(73) {
    background-color: var(--dot-color);
}

.cell:nth-child(74) {
    background-color: var(--dot-color);
}

.cell:nth-child(75) {
    background-color: var(--dot-color);
}

.cell:nth-child(76) {
    background-color: var(--dot-color);
}

.cell:nth-child(77) {
    background-color: var(--dot-color);
}

.cell:nth-child(123) {
    background-color: var(--dot-color);
}

.cell:nth-child(124) {
    background-color: var(--dot-color);
}

.cell:nth-child(127) {
    background-color: var(--dot-color);
}

.cell:nth-child(128) {
    background-color: var(--dot-color);
}

.cell:nth-child(129) {
    background-color: var(--dot-color);
}

.cell:nth-child(130) {
    background-color: var(--dot-color);
}

.cell:nth-child(131) {
    background-color: var(--dot-color);
}

.cell:nth-child(132) {
    background-color: var(--dot-color);
}

.cell:nth-child(177) {
    background-color: var(--dot-color);
}

.cell:nth-child(178) {
    background-color: var(--dot-color);
}

.cell:nth-child(179) {
    background-color: var(--dot-color);
}

.cell:nth-child(181) {
    background-color: var(--dot-color);
}

.cell:nth-child(182) {
    background-color: var(--dot-color);
}

.cell:nth-child(183) {
    background-color: var(--dot-color);
}

.cell:nth-child(184) {
    background-color: var(--dot-color);
}

.cell:nth-child(185) {
    background-color: var(--dot-color);
}

.cell:nth-child(186) {
    background-color: var(--dot-color);
}

.cell:nth-child(187) {
    background-color: var(--dot-color);
}

.cell:nth-child(188) {
    background-color: var(--dot-color);
}

.cell:nth-child(228) {
    background-color: var(--dot-color);
}

.cell:nth-child(229) {
    background-color: var(--dot-color);
}

.cell:nth-child(230) {
    background-color: var(--dot-color);
}

.cell:nth-child(231) {
    background-color: var(--dot-color);
}

.cell:nth-child(232) {
    background-color: var(--dot-color);
}

.cell:nth-child(233) {
    background-color: var(--dot-color);
}

.cell:nth-child(234) {
    background-color: var(--dot-color);
}

.cell:nth-child(237) {
    background-color: var(--dot-color);
}

.cell:nth-child(238) {
    background-color: var(--dot-color);
}

.cell:nth-child(239) {
    background-color: var(--dot-color);
}

.cell:nth-child(240) {
    background-color: var(--dot-color);
}

.cell:nth-child(241) {
    background-color: var(--dot-color);
}

.cell:nth-child(242) {
    background-color: var(--dot-color);
}

.cell:nth-child(243) {
    background-color: var(--dot-color);
}

.cell:nth-child(283) {
    background-color: var(--dot-color);
}

.cell:nth-child(284) {
    background-color: var(--dot-color);
}

.cell:nth-child(285) {
    background-color: var(--dot-color);
}

.cell:nth-child(286) {
    background-color: var(--dot-color);
}

.cell:nth-child(287) {
    background-color: var(--dot-color);
}

.cell:nth-child(288) {
    background-color: var(--dot-color);
}

.cell:nth-child(289) {
    background-color: var(--dot-color);
}

.cell:nth-child(293) {
    background-color: var(--dot-color);
}

.cell:nth-child(294) {
    background-color: var(--dot-color);
}

.cell:nth-child(295) {
    background-color: var(--dot-color);
}

.cell:nth-child(296) {
    background-color: var(--dot-color);
}

.cell:nth-child(297) {
    background-color: var(--dot-color);
}

.cell:nth-child(332) {
    background-color: var(--dot-color);
}

.cell:nth-child(333) {
    background-color: var(--dot-color);
}

.cell:nth-child(334) {
    background-color: var(--dot-color);
}

.cell:nth-child(337) {
    background-color: var(--dot-color);
}

.cell:nth-child(339) {
    background-color: var(--dot-color);
}

.cell:nth-child(340) {
    background-color: var(--dot-color);
}

.cell:nth-child(341) {
    background-color: var(--dot-color);
}

.cell:nth-child(342) {
    background-color: var(--dot-color);
}

.cell:nth-child(343) {
    background-color: var(--dot-color);
}

.cell:nth-child(348) {
    background-color: var(--dot-color);
}

.cell:nth-child(349) {
    background-color: var(--dot-color);
}

.cell:nth-child(350) {
    background-color: var(--dot-color);
}

.cell:nth-child(351) {
    background-color: var(--dot-color);
}

.cell:nth-child(352) {
    background-color: var(--dot-color);
}

.cell:nth-child(387) {
    background-color: var(--dot-color);
}

.cell:nth-child(388) {
    background-color: var(--dot-color);
}

.cell:nth-child(389) {
    background-color: var(--dot-color);
}

.cell:nth-child(390) {
    background-color: var(--dot-color);
}

.cell:nth-child(391) {
    background-color: var(--dot-color);
}

.cell:nth-child(392) {
    background-color: var(--dot-color);
}

.cell:nth-child(393) {
    background-color: var(--dot-color);
}

.cell:nth-child(394) {
    background-color: var(--dot-color);
}

.cell:nth-child(395) {
    background-color: var(--dot-color);
}

.cell:nth-child(396) {
    background-color: var(--dot-color);
}

.cell:nth-child(397) {
    background-color: var(--dot-color);
}

.cell:nth-child(398) {
    background-color: var(--dot-color);
}

.cell:nth-child(399) {
    background-color: var(--dot-color);
}

.cell:nth-child(404) {
    background-color: var(--dot-color);
}

.cell:nth-child(405) {
    background-color: var(--dot-color);
}

.cell:nth-child(406) {
    background-color: var(--dot-color);
}

.cell:nth-child(407) {
    background-color: var(--dot-color);
}

.cell:nth-child(441) {
    background-color: var(--dot-color);
}

.cell:nth-child(442) {
    background-color: var(--dot-color);
}

.cell:nth-child(443) {
    background-color: var(--dot-color);
}

.cell:nth-child(444) {
    background-color: var(--dot-color);
}

.cell:nth-child(445) {
    background-color: var(--dot-color);
}

.cell:nth-child(446) {
    background-color: var(--dot-color);
}

.cell:nth-child(447) {
    background-color: var(--dot-color);
}

.cell:nth-child(448) {
    background-color: var(--dot-color);
}

.cell:nth-child(449) {
    background-color: var(--dot-color);
}

.cell:nth-child(450) {
    background-color: var(--dot-color);
}

.cell:nth-child(451) {
    background-color: var(--dot-color);
}

.cell:nth-child(452) {
    background-color: var(--dot-color);
}

.cell:nth-child(453) {
    background-color: var(--dot-color);
}

.cell:nth-child(454) {
    background-color: var(--dot-color);
}

.cell:nth-child(455) {
    background-color: var(--dot-color);
}

.cell:nth-child(459) {
    background-color: var(--dot-color);
}

.cell:nth-child(460) {
    background-color: var(--dot-color);
}

.cell:nth-child(497) {
    background-color: var(--dot-color);
}

.cell:nth-child(498) {
    background-color: var(--dot-color);
}

.cell:nth-child(499) {
    background-color: var(--dot-color);
}

.cell:nth-child(500) {
    background-color: var(--dot-color);
}

.cell:nth-child(501) {
    background-color: var(--dot-color);
}

.cell:nth-child(502) {
    background-color: var(--dot-color);
}

.cell:nth-child(503) {
    background-color: var(--dot-color);
}

.cell:nth-child(504) {
    background-color: var(--dot-color);
}

.cell:nth-child(505) {
    background-color: var(--dot-color);
}

.cell:nth-child(506) {
    background-color: var(--dot-color);
}

.cell:nth-child(507) {
    background-color: var(--dot-color);
}

.cell:nth-child(509) {
    background-color: var(--dot-color);
}

.cell:nth-child(510) {
    background-color: var(--dot-color);
}

.cell:nth-child(511) {
    background-color: var(--dot-color);
}

.cell:nth-child(514) {
    background-color: var(--dot-color);
}

.cell:nth-child(552) {
    background-color: var(--dot-color);
}

.cell:nth-child(553) {
    background-color: var(--dot-color);
}

.cell:nth-child(554) {
    background-color: var(--dot-color);
}

.cell:nth-child(555) {
    background-color: var(--dot-color);
}

.cell:nth-child(556) {
    background-color: var(--dot-color);
}

.cell:nth-child(557) {
    background-color: var(--dot-color);
}

.cell:nth-child(558) {
    background-color: var(--dot-color);
}

.cell:nth-child(559) {
    background-color: var(--dot-color);
}

.cell:nth-child(560) {
    background-color: var(--dot-color);
}

.cell:nth-child(561) {
    background-color: var(--dot-color);
}

.cell:nth-child(562) {
    background-color: var(--dot-color);
}

.cell:nth-child(564) {
    background-color: var(--dot-color);
}

.cell:nth-child(565) {
    background-color: var(--dot-color);
}

.cell:nth-child(566) {
    background-color: var(--dot-color);
}

.cell:nth-child(607) {
    background-color: var(--dot-color);
}

.cell:nth-child(610) {
    background-color: var(--dot-color);
}

.cell:nth-child(611) {
    background-color: var(--dot-color);
}

.cell:nth-child(612) {
    background-color: var(--dot-color);
}

.cell:nth-child(613) {
    background-color: var(--dot-color);
}

.cell:nth-child(614) {
    background-color: var(--dot-color);
}

.cell:nth-child(615) {
    background-color: var(--dot-color);
}

.cell:nth-child(616) {
    background-color: var(--dot-color);
}

.cell:nth-child(619) {
    background-color: var(--dot-color);
}

.cell:nth-child(620) {
    background-color: var(--dot-color);
}

.cell:nth-child(621) {
    background-color: var(--dot-color);
}

.cell:nth-child(622) {
    background-color: var(--dot-color);
}

.cell:nth-child(666) {
    background-color: var(--dot-color);
}

.cell:nth-child(667) {
    background-color: var(--dot-color);
}

.cell:nth-child(668) {
    background-color: var(--dot-color);
}

.cell:nth-child(669) {
    background-color: var(--dot-color);
}

.cell:nth-child(670) {
    background-color: var(--dot-color);
}

.cell:nth-child(671) {
    background-color: var(--dot-color);
}

.cell:nth-child(672) {
    background-color: var(--dot-color);
}

.cell:nth-child(674) {
    background-color: var(--dot-color);
}

.cell:nth-child(675) {
    background-color: var(--dot-color);
}

.cell:nth-child(676) {
    background-color: var(--dot-color);
}

.cell:nth-child(722) {
    background-color: var(--dot-color);
}

.cell:nth-child(723) {
    background-color: var(--dot-color);
}

.cell:nth-child(724) {
    background-color: var(--dot-color);
}

.cell:nth-child(725) {
    background-color: var(--dot-color);
}

.cell:nth-child(726) {
    background-color: var(--dot-color);
}

.cell:nth-child(727) {
    background-color: var(--dot-color);
}

.cell:nth-child(728) {
    background-color: var(--dot-color);
}

.cell:nth-child(729) {
    background-color: var(--dot-color);
}

.cell:nth-child(730) {
    background-color: var(--dot-color);
}

.cell:nth-child(731) {
    background-color: var(--dot-color);
}

.cell:nth-child(778) {
    background-color: var(--dot-color);
}

.cell:nth-child(779) {
    background-color: var(--dot-color);
}

.cell:nth-child(780) {
    background-color: var(--dot-color);
}

.cell:nth-child(781) {
    background-color: var(--dot-color);
}

.cell:nth-child(782) {
    background-color: var(--dot-color);
}

.cell:nth-child(783) {
    background-color: var(--dot-color);
}

.cell:nth-child(784) {
    background-color: var(--dot-color);
}

.cell:nth-child(785) {
    background-color: var(--dot-color);
}

.cell:nth-child(786) {
    background-color: var(--dot-color);
}

.cell:nth-child(834) {
    background-color: var(--dot-color);
}

.cell:nth-child(835) {
    background-color: var(--dot-color);
}

.cell:nth-child(836) {
    background-color: var(--dot-color);
}

.cell:nth-child(837) {
    background-color: var(--dot-color);
}

.cell:nth-child(838) {
    background-color: var(--dot-color);
}

.cell:nth-child(839) {
    background-color: var(--dot-color);
}

.cell:nth-child(889) {
    background-color: var(--dot-color);
}

.cell:nth-child(890) {
    background-color: var(--dot-color);
}

.cell:nth-child(891) {
    background-color: var(--dot-color);
}

.cell:nth-child(892) {
    background-color: var(--dot-color);
}

.cell:nth-child(893) {
    background-color: var(--dot-color);
}

.cell:nth-child(894) {
    background-color: var(--dot-color);
}

.cell:nth-child(944) {
    background-color: var(--dot-color);
}

.cell:nth-child(945) {
    background-color: var(--dot-color);
}

.cell:nth-child(946) {
    background-color: var(--dot-color);
}

.cell:nth-child(947) {
    background-color: var(--dot-color);
}

.cell:nth-child(948) {
    background-color: var(--dot-color);
}

.cell:nth-child(949) {
    background-color: var(--dot-color);
}

.cell:nth-child(1000) {
    background-color: var(--dot-color);
}

.cell:nth-child(1001) {
    background-color: var(--dot-color);
}

.cell:nth-child(1002) {
    background-color: var(--dot-color);
}

.cell:nth-child(1005) {
    background-color: var(--dot-color);
}

.cell:nth-child(1056) {
    background-color: var(--dot-color);
}

.cell:nth-child(1057) {
    background-color: var(--dot-color);
}

.cell:nth-child(1112) {
    background-color: var(--dot-color);
}

.cell:nth-child(1113) {
    background-color: var(--dot-color);
}

.cell:nth-child(1114) {
    background-color: var(--dot-color);
}

.cell:nth-child(1169) {
    background-color: var(--dot-color);
}

/* ###################################

South America

##################################### */

.cell:nth-child(1225) {
    background-color: var(--dot-color);
}

.cell:nth-child(1226) {
    background-color: var(--dot-color);
}

.cell:nth-child(1227) {
    background-color: var(--dot-color);
}

.cell:nth-child(1228) {
    background-color: var(--dot-color);
}

.cell:nth-child(1229) {
    background-color: var(--dot-color);
}

.cell:nth-child(1281) {
    background-color: var(--dot-color);
}

.cell:nth-child(1282) {
    background-color: var(--dot-color);
}

.cell:nth-child(1283) {
    background-color: var(--dot-color);
}

.cell:nth-child(1284) {
    background-color: var(--dot-color);
}

.cell:nth-child(1285) {
    background-color: var(--dot-color);
}

.cell:nth-child(1335) {
    background-color: var(--dot-color);
}

.cell:nth-child(1336) {
    background-color: var(--dot-color);
}

.cell:nth-child(1337) {
    background-color: var(--dot-color);
}

.cell:nth-child(1338) {
    background-color: var(--dot-color);
}

.cell:nth-child(1339) {
    background-color: var(--dot-color);
}

.cell:nth-child(1340) {
    background-color: var(--dot-color);
}

.cell:nth-child(1341) {
    background-color: var(--dot-color);
}

.cell:nth-child(1342) {
    background-color: var(--dot-color);
}

.cell:nth-child(1390) {
    background-color: var(--dot-color);
}

.cell:nth-child(1391) {
    background-color: var(--dot-color);
}

.cell:nth-child(1392) {
    background-color: var(--dot-color);
}

.cell:nth-child(1393) {
    background-color: var(--dot-color);
}

.cell:nth-child(1394) {
    background-color: var(--dot-color);
}

.cell:nth-child(1395) {
    background-color: var(--dot-color);
}

.cell:nth-child(1396) {
    background-color: var(--dot-color);
}

.cell:nth-child(1397) {
    background-color: var(--dot-color);
}

.cell:nth-child(1446) {
    background-color: var(--dot-color);
}

.cell:nth-child(1447) {
    background-color: var(--dot-color);
}

.cell:nth-child(1448) {
    background-color: var(--dot-color);
}

.cell:nth-child(1449) {
    background-color: var(--dot-color);
}

.cell:nth-child(1450) {
    background-color: var(--dot-color);
}

.cell:nth-child(1451) {
    background-color: var(--dot-color);
}

.cell:nth-child(1502) {
    background-color: var(--dot-color);
}

.cell:nth-child(1503) {
    background-color: var(--dot-color);
}

.cell:nth-child(1504) {
    background-color: var(--dot-color);
}

.cell:nth-child(1505) {
    background-color: var(--dot-color);
}

.cell:nth-child(1506) {
    background-color: var(--dot-color);
}

.cell:nth-child(1557) {
    background-color: var(--dot-color);
}

.cell:nth-child(1558) {
    background-color: var(--dot-color);
}

.cell:nth-child(1559) {
    background-color: var(--dot-color);
}

.cell:nth-child(1560) {
    background-color: var(--dot-color);
}

.cell:nth-child(1612) {
    background-color: var(--dot-color);
}

.cell:nth-child(1613) {
    background-color: var(--dot-color);
}

.cell:nth-child(1614) {
    background-color: var(--dot-color);
}

.cell:nth-child(1666) {
    background-color: var(--dot-color);
}

.cell:nth-child(1667) {
    background-color: var(--dot-color);
}

.cell:nth-child(1668) {
    background-color: var(--dot-color);
}

.cell:nth-child(1721) {
    background-color: var(--dot-color);
}

.cell:nth-child(1722) {
    background-color: var(--dot-color);
}

.cell:nth-child(1776) {
    background-color: var(--dot-color);
}

.cell:nth-child(1777) {
    background-color: var(--dot-color);
}

.cell:nth-child(1831) {
    background-color: var(--dot-color);
}

.cell:nth-child(1832) {
    background-color: var(--dot-color);
}

.cell:nth-child(1887) {
    background-color: var(--dot-color);
}

/* ###################################

Europe

##################################### */

.cell:nth-child(361) {
    background-color: var(--dot-color);
}

.cell:nth-child(362) {
    background-color: var(--dot-color);
}

.cell:nth-child(415) {
    background-color: var(--dot-color);
}

.cell:nth-child(416) {
    background-color: var(--dot-color);
}

.cell:nth-child(417) {
    background-color: var(--dot-color);
}

.cell:nth-child(469) {
    background-color: var(--dot-color);
}

.cell:nth-child(470) {
    background-color: var(--dot-color);
}

.cell:nth-child(471) {
    background-color: var(--dot-color);
}

.cell:nth-child(472) {
    background-color: var(--dot-color);
}

.cell:nth-child(523) {
    background-color: var(--dot-color);
}

.cell:nth-child(524) {
    background-color: var(--dot-color);
}

.cell:nth-child(525) {
    background-color: var(--dot-color);
}

.cell:nth-child(527) {
    background-color: var(--dot-color);
}

.cell:nth-child(582) {
    background-color: var(--dot-color);
}

.cell:nth-child(580) {
    background-color: var(--dot-color);
}

.cell:nth-child(579) {
    background-color: var(--dot-color);
}

.cell:nth-child(578) {
    background-color: var(--dot-color);
}

.cell:nth-child(632) {
    background-color: var(--dot-color);
}

.cell:nth-child(634) {
    background-color: var(--dot-color);
}

.cell:nth-child(636) {
    background-color: var(--dot-color);
}

.cell:nth-child(631) {
    background-color: var(--dot-color);
}

.cell:nth-child(311) {
    background-color: var(--dot-color);
}

.cell:nth-child(312) {
    background-color: var(--dot-color);
}

.cell:nth-child(251) {
    background-color: var(--dot-color);
}

.cell:nth-child(519) {
    background-color: var(--dot-color);
}

.cell:nth-child(520) {
    background-color: var(--dot-color);
}

.cell:nth-child(686) {
    background-color: var(--dot-color);
}

.cell:nth-child(687) {
    background-color: var(--dot-color);
}

.cell:nth-child(689) {
    background-color: var(--dot-color);
}

.cell:nth-child(688) {
    background-color: var(--dot-color);
}

.cell:nth-child(690) {
    background-color: var(--dot-color);
}

.cell:nth-child(691) {
    background-color: var(--dot-color);
}

.cell:nth-child(692) {
    background-color: var(--dot-color);
}

.cell:nth-child(637) {
    background-color: var(--dot-color);
}

.cell:nth-child(638) {
    background-color: var(--dot-color);
}

.cell:nth-child(583) {
    background-color: var(--dot-color);
}

.cell:nth-child(528) {
    background-color: var(--dot-color);
}

.cell:nth-child(473) {
    background-color: var(--dot-color);
}

.cell:nth-child(418) {
    background-color: var(--dot-color);
}

.cell:nth-child(474) {
    background-color: var(--dot-color);
}

.cell:nth-child(475) {
    background-color: var(--dot-color);
}

.cell:nth-child(365) {
    background-color: var(--dot-color);
}

.cell:nth-child(421) {
    background-color: var(--dot-color);
}

.cell:nth-child(476) {
    background-color: var(--dot-color);
}

.cell:nth-child(477) {
    background-color: var(--dot-color);
}

.cell:nth-child(531) {
    background-color: var(--dot-color);
}

.cell:nth-child(530) {
    background-color: var(--dot-color);
}

.cell:nth-child(529) {
    background-color: var(--dot-color);
}

.cell:nth-child(584) {
    background-color: var(--dot-color);
}

.cell:nth-child(585) {
    background-color: var(--dot-color);
}

.cell:nth-child(586) {
    background-color: var(--dot-color);
}

.cell:nth-child(639) {
    background-color: var(--dot-color);
}

.cell:nth-child(640) {
    background-color: var(--dot-color);
}

.cell:nth-child(641) {
    background-color: var(--dot-color);
}

.cell:nth-child(693) {
    background-color: var(--dot-color);
}

.cell:nth-child(694) {
    background-color: var(--dot-color);
}

.cell:nth-child(695) {
    background-color: var(--dot-color);
}

.cell:nth-child(696) {
    background-color: var(--dot-color);
}

.cell:nth-child(795) {
    background-color: var(--dot-color);
}

.cell:nth-child(796) {
    background-color: var(--dot-color);
}

.cell:nth-child(850) {
    background-color: var(--dot-color);
}

.cell:nth-child(851) {
    background-color: var(--dot-color);
}

.cell:nth-child(797) {
    background-color: var(--dot-color);
}

.cell:nth-child(742) {
    background-color: var(--dot-color);
}

.cell:nth-child(743) {
    background-color: var(--primary-color);
}

.cell:nth-child(744) {
    background-color: var(--dot-color);
}

.cell:nth-child(745) {
    background-color: var(--dot-color);
}

.cell:nth-child(746) {
    background-color: var(--dot-color);
}

.cell:nth-child(747) {
    background-color: var(--dot-color);
}

.cell:nth-child(748) {
    background-color: var(--dot-color);
}

.cell:nth-child(749) {
    background-color: var(--dot-color);
}

.cell:nth-child(750) {
    background-color: var(--dot-color);
}

.cell:nth-child(751) {
    background-color: var(--dot-color);
}

.cell:nth-child(805) {
    background-color: var(--dot-color);
}

.cell:nth-child(804) {
    background-color: var(--dot-color);
}

.cell:nth-child(803) {
    background-color: var(--dot-color);
}

.cell:nth-child(802) {
    background-color: var(--dot-color);
}

.cell:nth-child(801) {
    background-color: var(--dot-color);
}

.cell:nth-child(799) {
    background-color: var(--dot-color);
}

.cell:nth-child(798) {
    background-color: var(--dot-color);
}

.cell:nth-child(800) {
    background-color: var(--dot-color);
}

.cell:nth-child(854) {
    background-color: var(--dot-color);
}

.cell:nth-child(856) {
    background-color: var(--dot-color);
}

.cell:nth-child(857) {
    background-color: var(--dot-color);
}

.cell:nth-child(911) {
    background-color: var(--dot-color);
}

/* ###################################

Africa

##################################### */

.cell:nth-child(961) {
    background-color: var(--dot-color);
}

.cell:nth-child(962) {
    background-color: var(--dot-color);
}

.cell:nth-child(963) {
    background-color: var(--dot-color);
}

.cell:nth-child(965) {
    background-color: var(--dot-color);
}

.cell:nth-child(1020) {
    background-color: var(--dot-color);
}

.cell:nth-child(1021) {
    background-color: var(--dot-color);
}

.cell:nth-child(1019) {
    background-color: var(--dot-color);
}

.cell:nth-child(1018) {
    background-color: var(--dot-color);
}

.cell:nth-child(1017) {
    background-color: var(--dot-color);
}

.cell:nth-child(1016) {
    background-color: var(--dot-color);
}

.cell:nth-child(1015) {
    background-color: var(--dot-color);
}

.cell:nth-child(1069) {
    background-color: var(--dot-color);
}

.cell:nth-child(1070) {
    background-color: var(--dot-color);
}

.cell:nth-child(1071) {
    background-color: var(--dot-color);
}

.cell:nth-child(1072) {
    background-color: var(--dot-color);
}

.cell:nth-child(1073) {
    background-color: var(--dot-color);
}

.cell:nth-child(1074) {
    background-color: var(--dot-color);
}

.cell:nth-child(1075) {
    background-color: var(--dot-color);
}

.cell:nth-child(1076) {
    background-color: var(--dot-color);
}

.cell:nth-child(1077) {
    background-color: var(--dot-color);
}

.cell:nth-child(1124) {
    background-color: var(--dot-color);
}

.cell:nth-child(1125) {
    background-color: var(--dot-color);
}

.cell:nth-child(1126) {
    background-color: var(--dot-color);
}

.cell:nth-child(1127) {
    background-color: var(--dot-color);
}

.cell:nth-child(1128) {
    background-color: var(--dot-color);
}

.cell:nth-child(1129) {
    background-color: var(--dot-color);
}

.cell:nth-child(1130) {
    background-color: var(--dot-color);
}

.cell:nth-child(1131) {
    background-color: var(--dot-color);
}

.cell:nth-child(1132) {
    background-color: var(--dot-color);
}

.cell:nth-child(1133) {
    background-color: var(--dot-color);
}

.cell:nth-child(1179) {
    background-color: var(--dot-color);
}

.cell:nth-child(1180) {
    background-color: var(--dot-color);
}

.cell:nth-child(1181) {
    background-color: var(--dot-color);
}

.cell:nth-child(1182) {
    background-color: var(--dot-color);
}

.cell:nth-child(1183) {
    background-color: var(--dot-color);
}

.cell:nth-child(1184) {
    background-color: var(--dot-color);
}

.cell:nth-child(1185) {
    background-color: var(--dot-color);
}

.cell:nth-child(1186) {
    background-color: var(--dot-color);
}

.cell:nth-child(1187) {
    background-color: var(--dot-color);
}

.cell:nth-child(1188) {
    background-color: var(--dot-color);
}

.cell:nth-child(1189) {
    background-color: var(--dot-color);
}

.cell:nth-child(1235) {
    background-color: var(--dot-color);
}

.cell:nth-child(1236) {
    background-color: var(--dot-color);
}

.cell:nth-child(1237) {
    background-color: var(--dot-color);
}

.cell:nth-child(1238) {
    background-color: var(--dot-color);
}

.cell:nth-child(1239) {
    background-color: var(--dot-color);
}

.cell:nth-child(1240) {
    background-color: var(--dot-color);
}

.cell:nth-child(1241) {
    background-color: var(--dot-color);
}

.cell:nth-child(1242) {
    background-color: var(--dot-color);
}

.cell:nth-child(1243) {
    background-color: var(--dot-color);
}

.cell:nth-child(1244) {
    background-color: var(--dot-color);
}

.cell:nth-child(1293) {
    background-color: var(--dot-color);
}

.cell:nth-child(1294) {
    background-color: var(--dot-color);
}

.cell:nth-child(1295) {
    background-color: var(--dot-color);
}

.cell:nth-child(1296) {
    background-color: var(--dot-color);
}

.cell:nth-child(1297) {
    background-color: var(--dot-color);
}

.cell:nth-child(1298) {
    background-color: var(--dot-color);
}

.cell:nth-child(1348) {
    background-color: var(--dot-color);
}

.cell:nth-child(1349) {
    background-color: var(--dot-color);
}

.cell:nth-child(1350) {
    background-color: var(--dot-color);
}

.cell:nth-child(1351) {
    background-color: var(--dot-color);
}

.cell:nth-child(1352) {
    background-color: var(--dot-color);
}

.cell:nth-child(1404) {
    background-color: var(--dot-color);
}

.cell:nth-child(1405) {
    background-color: var(--dot-color);
}

.cell:nth-child(1406) {
    background-color: var(--dot-color);
}

.cell:nth-child(1407) {
    background-color: var(--dot-color);
}

.cell:nth-child(1459) {
    background-color: var(--dot-color);
}

.cell:nth-child(1460) {
    background-color: var(--dot-color);
}

.cell:nth-child(1461) {
    background-color: var(--dot-color);
}

.cell:nth-child(1462) {
    background-color: var(--dot-color);
}

.cell:nth-child(1514) {
    background-color: var(--dot-color);
}

.cell:nth-child(1515) {
    background-color: var(--dot-color);
}

.cell:nth-child(1516) {
    background-color: var(--dot-color);
}

.cell:nth-child(1518) {
    background-color: var(--dot-color);
}

.cell:nth-child(1573) {
    background-color: var(--dot-color);
}

.cell:nth-child(1569) {
    background-color: var(--dot-color);
}

.cell:nth-child(1570) {
    background-color: var(--dot-color);
}

.cell:nth-child(1571) {
    background-color: var(--dot-color);
}

.cell:nth-child(1624) {
    background-color: var(--dot-color);
}

.cell:nth-child(1625) {
    background-color: var(--dot-color);
}

/* ###################################

Asia

##################################### */

.cell:nth-child(154) {
    background-color: var(--dot-color);
}

.cell:nth-child(208) {
    background-color: var(--dot-color);
}

.cell:nth-child(209) {
    background-color: var(--dot-color);
}

.cell:nth-child(210) {
    background-color: var(--dot-color);
}

.cell:nth-child(262) {
    background-color: var(--dot-color);
}

.cell:nth-child(263) {
    background-color: var(--dot-color);
}

.cell:nth-child(264) {
    background-color: var(--dot-color);
}

.cell:nth-child(265) {
    background-color: var(--dot-color);
}

.cell:nth-child(314) {
    background-color: var(--dot-color);
}

.cell:nth-child(315) {
    background-color: var(--dot-color);
}

.cell:nth-child(316) {
    background-color: var(--dot-color);
}

.cell:nth-child(317) {
    background-color: var(--dot-color);
}

.cell:nth-child(318) {
    background-color: var(--dot-color);
}

.cell:nth-child(319) {
    background-color: var(--dot-color);
}

.cell:nth-child(320) {
    background-color: var(--dot-color);
}

.cell:nth-child(321) {
    background-color: var(--dot-color);
}

.cell:nth-child(322) {
    background-color: var(--dot-color);
}

.cell:nth-child(323) {
    background-color: var(--dot-color);
}

.cell:nth-child(325) {
    background-color: var(--dot-color);
}

.cell:nth-child(326) {
    background-color: var(--dot-color);
}

.cell:nth-child(369) {
    background-color: var(--dot-color);
}

.cell:nth-child(370) {
    background-color: var(--dot-color);
}

.cell:nth-child(371) {
    background-color: var(--dot-color);
}

.cell:nth-child(372) {
    background-color: var(--dot-color);
}

.cell:nth-child(373) {
    background-color: var(--dot-color);
}

.cell:nth-child(374) {
    background-color: var(--dot-color);
}

.cell:nth-child(375) {
    background-color: var(--dot-color);
}

.cell:nth-child(376) {
    background-color: var(--dot-color);
}

.cell:nth-child(377) {
    background-color: var(--dot-color);
}

.cell:nth-child(378) {
    background-color: var(--dot-color);
}

.cell:nth-child(379) {
    background-color: var(--dot-color);
}

.cell:nth-child(380) {
    background-color: var(--dot-color);
}

.cell:nth-child(381) {
    background-color: var(--dot-color);
}

.cell:nth-child(382) {
    background-color: var(--dot-color);
}

.cell:nth-child(423) {
    background-color: var(--dot-color);
}

.cell:nth-child(424) {
    background-color: var(--dot-color);
}

.cell:nth-child(425) {
    background-color: var(--dot-color);
}

.cell:nth-child(426) {
    background-color: var(--dot-color);
}

.cell:nth-child(427) {
    background-color: var(--dot-color);
}

.cell:nth-child(428) {
    background-color: var(--dot-color);
}

.cell:nth-child(429) {
    background-color: var(--dot-color);
}

.cell:nth-child(430) {
    background-color: var(--dot-color);
}

.cell:nth-child(431) {
    background-color: var(--dot-color);
}

.cell:nth-child(432) {
    background-color: var(--dot-color);
}

.cell:nth-child(433) {
    background-color: var(--dot-color);
}

.cell:nth-child(434) {
    background-color: var(--dot-color);
}

.cell:nth-child(435) {
    background-color: var(--dot-color);
}

.cell:nth-child(436) {
    background-color: var(--dot-color);
}

.cell:nth-child(437) {
    background-color: var(--dot-color);
}

.cell:nth-child(438) {
    background-color: var(--dot-color);
}

.cell:nth-child(439) {
    background-color: var(--dot-color);
}

.cell:nth-child(440) {
    background-color: var(--dot-color);
}

.cell:nth-child(478) {
    background-color: var(--dot-color);
}

.cell:nth-child(479) {
    background-color: var(--dot-color);
}

.cell:nth-child(480) {
    background-color: var(--dot-color);
}

.cell:nth-child(481) {
    background-color: var(--dot-color);
}

.cell:nth-child(482) {
    background-color: var(--dot-color);
}

.cell:nth-child(483) {
    background-color: var(--dot-color);
}

.cell:nth-child(484) {
    background-color: var(--dot-color);
}

.cell:nth-child(485) {
    background-color: var(--dot-color);
}

.cell:nth-child(486) {
    background-color: var(--dot-color);
}

.cell:nth-child(487) {
    background-color: var(--dot-color);
}

.cell:nth-child(488) {
    background-color: var(--dot-color);
}

.cell:nth-child(489) {
    background-color: var(--dot-color);
}

.cell:nth-child(490) {
    background-color: var(--dot-color);
}

.cell:nth-child(491) {
    background-color: var(--dot-color);
}

.cell:nth-child(492) {
    background-color: var(--dot-color);
}

.cell:nth-child(493) {
    background-color: var(--dot-color);
}

.cell:nth-child(494) {
    background-color: var(--dot-color);
}

.cell:nth-child(495) {
    background-color: var(--dot-color);
}

.cell:nth-child(532) {
    background-color: var(--dot-color);
}

.cell:nth-child(533) {
    background-color: var(--dot-color);
}

.cell:nth-child(534) {
    background-color: var(--dot-color);
}

.cell:nth-child(535) {
    background-color: var(--dot-color);
}

.cell:nth-child(536) {
    background-color: var(--dot-color);
}

.cell:nth-child(537) {
    background-color: var(--dot-color);
}

.cell:nth-child(538) {
    background-color: var(--dot-color);
}

.cell:nth-child(539) {
    background-color: var(--dot-color);
}

.cell:nth-child(540) {
    background-color: var(--dot-color);
}

.cell:nth-child(541) {
    background-color: var(--dot-color);
}

.cell:nth-child(542) {
    background-color: var(--dot-color);
}

.cell:nth-child(543) {
    background-color: var(--dot-color);
}

.cell:nth-child(544) {
    background-color: var(--dot-color);
}

.cell:nth-child(545) {
    background-color: var(--dot-color);
}

.cell:nth-child(546) {
    background-color: var(--dot-color);
}

.cell:nth-child(547) {
    background-color: var(--dot-color);
}

.cell:nth-child(548) {
    background-color: var(--dot-color);
}

.cell:nth-child(549) {
    background-color: var(--dot-color);
}

.cell:nth-child(550) {
    background-color: var(--dot-color);
}

.cell:nth-child(587) {
    background-color: var(--dot-color);
}

.cell:nth-child(588) {
    background-color: var(--dot-color);
}

.cell:nth-child(589) {
    background-color: var(--dot-color);
}

.cell:nth-child(590) {
    background-color: var(--dot-color);
}

.cell:nth-child(591) {
    background-color: var(--dot-color);
}

.cell:nth-child(592) {
    background-color: var(--dot-color);
}

.cell:nth-child(593) {
    background-color: var(--dot-color);
}

.cell:nth-child(594) {
    background-color: var(--dot-color);
}

.cell:nth-child(595) {
    background-color: var(--dot-color);
}

.cell:nth-child(596) {
    background-color: var(--dot-color);
}

.cell:nth-child(597) {
    background-color: var(--dot-color);
}

.cell:nth-child(598) {
    background-color: var(--dot-color);
}

.cell:nth-child(599) {
    background-color: var(--dot-color);
}

.cell:nth-child(600) {
    background-color: var(--dot-color);
}

.cell:nth-child(601) {
    background-color: var(--dot-color);
}

.cell:nth-child(603) {
    background-color: var(--dot-color);
}

.cell:nth-child(642) {
    background-color: var(--dot-color);
}

.cell:nth-child(643) {
    background-color: var(--dot-color);
}

.cell:nth-child(644) {
    background-color: var(--dot-color);
}

.cell:nth-child(645) {
    background-color: var(--dot-color);
}

.cell:nth-child(646) {
    background-color: var(--dot-color);
}

.cell:nth-child(647) {
    background-color: var(--dot-color);
}

.cell:nth-child(648) {
    background-color: var(--dot-color);
}

.cell:nth-child(649) {
    background-color: var(--dot-color);
}

.cell:nth-child(650) {
    background-color: var(--dot-color);
}

.cell:nth-child(651) {
    background-color: var(--dot-color);
}

.cell:nth-child(652) {
    background-color: var(--dot-color);
}

.cell:nth-child(653) {
    background-color: var(--dot-color);
}

.cell:nth-child(654) {
    background-color: var(--dot-color);
}

.cell:nth-child(657) {
    background-color: var(--dot-color);
}

.cell:nth-child(658) {
    background-color: var(--dot-color);
}

.cell:nth-child(697) {
    background-color: var(--dot-color);
}

.cell:nth-child(698) {
    background-color: var(--dot-color);
}

.cell:nth-child(699) {
    background-color: var(--dot-color);
}

.cell:nth-child(700) {
    background-color: var(--dot-color);
}

.cell:nth-child(701) {
    background-color: var(--dot-color);
}

.cell:nth-child(702) {
    background-color: var(--dot-color);
}

.cell:nth-child(703) {
    background-color: var(--dot-color);
}

.cell:nth-child(704) {
    background-color: var(--dot-color);
}

.cell:nth-child(705) {
    background-color: var(--dot-color);
}

.cell:nth-child(706) {
    background-color: var(--dot-color);
}

.cell:nth-child(707) {
    background-color: var(--dot-color);
}

.cell:nth-child(708) {
    background-color: var(--dot-color);
}

.cell:nth-child(709) {
    background-color: var(--dot-color);
}

.cell:nth-child(712) {
    background-color: var(--dot-color);
}

.cell:nth-child(752) {
    background-color: var(--dot-color);
}

.cell:nth-child(753) {
    background-color: var(--dot-color);
}

.cell:nth-child(754) {
    background-color: var(--dot-color);
}

.cell:nth-child(755) {
    background-color: var(--dot-color);
}

.cell:nth-child(756) {
    background-color: var(--dot-color);
}

.cell:nth-child(757) {
    background-color: var(--dot-color);
}

.cell:nth-child(758) {
    background-color: var(--dot-color);
}

.cell:nth-child(759) {
    background-color: var(--dot-color);
}

.cell:nth-child(760) {
    background-color: var(--dot-color);
}

.cell:nth-child(761) {
    background-color: var(--dot-color);
}

.cell:nth-child(762) {
    background-color: var(--dot-color);
}

.cell:nth-child(763) {
    background-color: var(--dot-color);
}

.cell:nth-child(764) {
    background-color: var(--dot-color);
}

.cell:nth-child(807) {
    background-color: var(--dot-color);
}

.cell:nth-child(808) {
    background-color: var(--dot-color);
}

.cell:nth-child(809) {
    background-color: var(--dot-color);
}

.cell:nth-child(810) {
    background-color: var(--dot-color);
}

.cell:nth-child(811) {
    background-color: var(--dot-color);
}

.cell:nth-child(812) {
    background-color: var(--dot-color);
}

.cell:nth-child(813) {
    background-color: var(--dot-color);
}

.cell:nth-child(814) {
    background-color: var(--dot-color);
}

.cell:nth-child(815) {
    background-color: var(--dot-color);
}

.cell:nth-child(816) {
    background-color: var(--dot-color);
}

.cell:nth-child(817) {
    background-color: var(--dot-color);
}

.cell:nth-child(818) {
    background-color: var(--dot-color);
}

.cell:nth-child(819) {
    background-color: var(--dot-color);
}

.cell:nth-child(821) {
    background-color: var(--dot-color);
}

.cell:nth-child(859) {
    background-color: var(--dot-color);
}

.cell:nth-child(860) {
    background-color: var(--dot-color);
}

.cell:nth-child(861) {
    background-color: var(--dot-color);
}

.cell:nth-child(862) {
    background-color: var(--dot-color);
}

.cell:nth-child(863) {
    background-color: var(--dot-color);
}

.cell:nth-child(864) {
    background-color: var(--dot-color);
}

.cell:nth-child(865) {
    background-color: var(--dot-color);
}

.cell:nth-child(866) {
    background-color: var(--dot-color);
}

.cell:nth-child(867) {
    background-color: var(--dot-color);
}

.cell:nth-child(868) {
    background-color: var(--dot-color);
}

.cell:nth-child(869) {
    background-color: var(--dot-color);
}

.cell:nth-child(870) {
    background-color: var(--dot-color);
}

.cell:nth-child(871) {
    background-color: var(--dot-color);
}

.cell:nth-child(872) {
    background-color: var(--dot-color);
}

.cell:nth-child(873) {
    background-color: var(--dot-color);
}

.cell:nth-child(876) {
    background-color: var(--dot-color);
}

.cell:nth-child(913) {
    background-color: var(--dot-color);
}

.cell:nth-child(914) {
    background-color: var(--dot-color);
}

.cell:nth-child(916) {
    background-color: var(--dot-color);
}

.cell:nth-child(917) {
    background-color: var(--dot-color);
}

.cell:nth-child(918) {
    background-color: var(--dot-color);
}

.cell:nth-child(919) {
    background-color: var(--dot-color);
}

.cell:nth-child(920) {
    background-color: var(--dot-color);
}

.cell:nth-child(921) {
    background-color: var(--dot-color);
}

.cell:nth-child(922) {
    background-color: var(--dot-color);
}

.cell:nth-child(923) {
    background-color: var(--dot-color);
}

.cell:nth-child(924) {
    background-color: var(--dot-color);
}

.cell:nth-child(925) {
    background-color: var(--dot-color);
}

.cell:nth-child(926) {
    background-color: var(--dot-color);
}

.cell:nth-child(928) {
    background-color: var(--dot-color);
}

.cell:nth-child(930) {
    background-color: var(--dot-color);
}

.cell:nth-child(967) {
    background-color: var(--dot-color);
}

.cell:nth-child(968) {
    background-color: var(--dot-color);
}

.cell:nth-child(969) {
    background-color: var(--dot-color);
}

.cell:nth-child(970) {
    background-color: var(--dot-color);
}

.cell:nth-child(972) {
    background-color: var(--dot-color);
}

.cell:nth-child(973) {
    background-color: var(--dot-color);
}

.cell:nth-child(974) {
    background-color: var(--dot-color);
}

.cell:nth-child(975) {
    background-color: var(--dot-color);
}

.cell:nth-child(976) {
    background-color: var(--dot-color);
}

.cell:nth-child(977) {
    background-color: var(--dot-color);
}

.cell:nth-child(978) {
    background-color: var(--dot-color);
}

.cell:nth-child(979) {
    background-color: var(--dot-color);
}

.cell:nth-child(980) {
    background-color: var(--dot-color);
}

.cell:nth-child(981) {
    background-color: var(--dot-color);
}

.cell:nth-child(982) {
    background-color: var(--dot-color);
}

.cell:nth-child(1022) {
    background-color: var(--dot-color);
}

.cell:nth-child(1023) {
    background-color: var(--dot-color);
}

.cell:nth-child(1024) {
    background-color: var(--dot-color);
}

.cell:nth-child(1025) {
    background-color: var(--dot-color);
}

.cell:nth-child(1026) {
    background-color: var(--dot-color);
}

.cell:nth-child(1027) {
    background-color: var(--dot-color);
}

.cell:nth-child(1029) {
    background-color: var(--dot-color);
}

.cell:nth-child(1030) {
    background-color: var(--dot-color);
}

.cell:nth-child(1031) {
    background-color: var(--dot-color);
}

.cell:nth-child(1034) {
    background-color: var(--dot-color);
}

.cell:nth-child(1035) {
    background-color: var(--dot-color);
}

.cell:nth-child(1036) {
    background-color: var(--dot-color);
}

.cell:nth-child(1037) {
    background-color: var(--dot-color);
}

.cell:nth-child(1079) {
    background-color: var(--dot-color);
}

.cell:nth-child(1080) {
    background-color: var(--dot-color);
}

.cell:nth-child(1081) {
    background-color: var(--dot-color);
}

.cell:nth-child(1085) {
    background-color: var(--dot-color);
}

.cell:nth-child(1089) {
    background-color: var(--dot-color);
}

.cell:nth-child(1090) {
    background-color: var(--dot-color);
}

.cell:nth-child(1135) {
    background-color: var(--dot-color);
}

.cell:nth-child(1144) {
    background-color: var(--dot-color);
}

.cell:nth-child(1145) {
    background-color: var(--dot-color);
}

.cell:nth-child(1200) {
    background-color: var(--dot-color);
}

.cell:nth-child(1202) {
    background-color: var(--dot-color);
}

.cell:nth-child(1203) {
    background-color: var(--dot-color);
}

.cell:nth-child(1255) {
    background-color: var(--dot-color);
}

.cell:nth-child(1256) {
    background-color: var(--dot-color);
}

.cell:nth-child(1257) {
    background-color: var(--dot-color);
}

.cell:nth-child(1311) {
    background-color: var(--dot-color);
}

/* ###################################

Australia

##################################### */

.cell:nth-child(1206) {
    background-color: var(--dot-color);
}

.cell:nth-child(1262) {
    background-color: var(--dot-color);
}

.cell:nth-child(1263) {
    background-color: var(--dot-color);
}

.cell:nth-child(1317) {
    background-color: var(--dot-color);
}

.cell:nth-child(1369) {
    background-color: var(--dot-color);
}

.cell:nth-child(1370) {
    background-color: var(--dot-color);
}

.cell:nth-child(1372) {
    background-color: var(--dot-color);
}

.cell:nth-child(1422) {
    background-color: var(--dot-color);
}

.cell:nth-child(1423) {
    background-color: var(--dot-color);
}

.cell:nth-child(1424) {
    background-color: var(--dot-color);
}

.cell:nth-child(1425) {
    background-color: var(--dot-color);
}

.cell:nth-child(1426) {
    background-color: var(--dot-color);
}

.cell:nth-child(1427) {
    background-color: var(--dot-color);
}

.cell:nth-child(1428) {
    background-color: var(--dot-color);
}

.cell:nth-child(1476) {
    background-color: var(--dot-color);
}

.cell:nth-child(1477) {
    background-color: var(--dot-color);
}

.cell:nth-child(1478) {
    background-color: var(--dot-color);
}

.cell:nth-child(1479) {
    background-color: var(--dot-color);
}

.cell:nth-child(1480) {
    background-color: var(--dot-color);
}

.cell:nth-child(1481) {
    background-color: var(--dot-color);
}

.cell:nth-child(1482) {
    background-color: var(--dot-color);
}

.cell:nth-child(1483) {
    background-color: var(--dot-color);
}

.cell:nth-child(1531) {
    background-color: var(--dot-color);
}

.cell:nth-child(1532) {
    background-color: var(--dot-color);
}

.cell:nth-child(1533) {
    background-color: var(--dot-color);
}

.cell:nth-child(1534) {
    background-color: var(--dot-color);
}

.cell:nth-child(1535) {
    background-color: var(--dot-color);
}

.cell:nth-child(1536) {
    background-color: var(--dot-color);
}

.cell:nth-child(1537) {
    background-color: var(--dot-color);
}

.cell:nth-child(1538) {
    background-color: var(--dot-color);
}

.cell:nth-child(1586) {
    background-color: var(--dot-color);
}

.cell:nth-child(1587) {
    background-color: var(--dot-color);
}

.cell:nth-child(1590) {
    background-color: var(--dot-color);
}

.cell:nth-child(1591) {
    background-color: var(--dot-color);
}

.cell:nth-child(1592) {
    background-color: var(--dot-color);
}

.cell:nth-child(1645) {
    background-color: var(--dot-color);
}

.cell:nth-child(1646) {
    background-color: var(--dot-color);
}

.cell:nth-child(1650) {
    background-color: var(--dot-color);
}

.cell:nth-child(1705) {
    background-color: var(--dot-color);
}