/* Style variables */

:root {
    --color-light: hsl(35, 45%, 83%);
    --color-dark: hsl(198, 82%, 9%);
    --color-primary: hsl(175, 43%, 47%);
    --color-secondary: hsl(175, 39%, 25%);
    --color-link: hsl(10, 84%, 76%);

    --bg-color: var(--color-dark);
    --text-color: var(--color-light);
    --highlight-color: hsl(0, 0%, 100%);
}

/* Reset styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

button, select {
    border: none;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    font-family: "Space Mono", monospace;
}

/* General styles */

html {
    scroll-behavior: smooth;
}

body {
    height: 100dvh;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: "Space Mono", monospace;
    font-size: 1.2rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Informations */

#informations {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chord {
    font-size: 8rem;
    margin-bottom: 32px;
    text-align: center;
}

#notes {
}

#velocity {
    display: none;
}

#intervals {
}


/* Piano keyboard */

#keyboard {
    /* position: fixed;
    bottom: 0;
    left: 0; */
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-x: auto;
}

.key {
    width: 30px;
    height: 150px;
    border: 1px solid var(--bg-color);
    background-color: var(--text-color);
    margin-right: -1px;
    z-index: 1;
    font-size: 8px;
    color: gray;
    display: flex;
    align-items: end;
    justify-content: center;
    transition: all ease-in-out 100ms;
}

.key.black {
    width: 20px;
    height: 100px;
    background-color: var(--bg-color);
    /* border: 1px solid var(--bg-color); */
    margin-left: -10px;
    margin-right: -10px;
    z-index: 2;
}

.key.active {
    background-color: var(--highlight-color);
    /* border: 1px solid var(--bg-color); */
    margin-top: 4px;
}

.key.black.active {
    background-color: var(--highlight-color);
    margin-top: 4px;
}

.key.correct {
    background-color: #4CAF50 !important;
}

.key.incorrect {
    background-color: #F44336 !important;
}

/* Exercice */

#exercise-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 24px;
}

#exercise-display {
    text-align: center;
    margin-bottom: 24px;
}

button {
    font-size: 16px;
    padding: 8px 16px;
    border: solid 1px var(--text-color);
    color: var(--text-color);
    transition: all ease-in-out 250ms;
}

button:hover {
    background-color: hsla(35, 45%, 83%, .2);
}

select {
    margin-left: 48px;
    font-size: 16px;
    color: var(--text-color);
    transition: all ease-in-out 250ms;
}